doctype html
head
    meta(http-equiv='Content-Type' content='text/html; charset=utf-8')

    title Big-Head UI - Sign in
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='title' content='Big-Head UI - Sign in')
    meta(name='author' content='Angel Erick Cruz')
    link(rel='canonical' href='https://leganux.com')
    each val in Assets.css
        link(type='text/css' href=val rel='stylesheet')


main

    section.min-vh-100.d-flex.bg-primary.align-items-center
        .container
            .row.justify-content-center
                .col-12.col-md-8.col-lg-6.justify-content-center
                    .card.bg-primary.shadow-soft.border-light.p-4
                        .card-header.text-center.pb-0
                            h2.h4 Sign in to Big-Head Control Panel
                            img.img-fluid.rounded(src="/public/images/cabezon.jpg")
                        .card-body
                            form.mt-4(action='#')

                                .form-group
                                    label(for='exampleInputIcon3') Your user
                                    .input-group.mb-4
                                        .input-group-prepend
                                            span.input-group-text
                                                span.fas.fa-user-alt
                                        input#exampleInputIcon3.form-control(placeholder='user' type='text' aria-label='user')

                                .form-group

                                    .form-group
                                        label(for='exampleInputPassword6') Password
                                        .input-group.mb-4
                                            .input-group-prepend
                                                span.input-group-text
                                                    span.fas.fa-unlock-alt
                                            input#exampleInputPassword6.form-control(placeholder='Password' type='password' aria-label='Password' required='')

                                button.btn.btn-block.btn-primary(type='submit') Sign in
                                center
                                    | Leganux (c) 2021-2022 All rights reserved
                                    br
                                    a(href="https://leganux.net" target="_blank") Leganux.net
                                    br
                                    a(href="https://demo.themesberg.com/neumorphism-ui/" target="_blank") Neumorphism template

// Core
each val in Assets.js
    script(src=val)


